- rs = obj.name.include?("Log") ? obj.order(:id.desc).all : obj.all 
- pg = obj.paginate(1,25)
- i = 0
%p.title= pretty_title(obj)
- unless rs.empty?
  %table.list
    %thead
      %tr
        - rs.first.table_data.each do |column|
          %th= column[:label]
        %th &nbsp;
    %tbody
      - rs.each do |r|
        %tr{:class  => i.even? ? "even" : "odd"}
          - r.table_data.each do |f|
            %td
              - if f[:css] == 'datetime'
                %span{:class => f[:css], :title => f[:value].strftime('%H:%M:%S')}= f[:value].strftime('%Y-%m-%d')
              - elsif f[:css] == 'time'
                %span{:class => f[:css], :title => f[:value].strftime('%Y-%m-%d')}= f[:value].strftime('%H:%M:%S')
              - else
                %span{:class => f[:css]}= f[:value]
          %td
            %span.put
            %span.delete
        - i += 1
      - while i < 25
        %tr
          %td{:colspan => rs.first.table_data.length + 1}
            %span &nbsp;
        - i += 1
    %tfoot
      %tr
        %td{:colspan => rs.first.table_data.length + 1}
          %span Search, Add record, Paginate etc... comes here
- else
  %h4 Empty table
