- i = 0
%p.title= #pretty_title(obj)
- unless ds.empty?
  %table.list
    %thead
      %tr
        - ds.first.table_data.each do |column|
          %th= column[:label]
        %th &nbsp;
    %tbody
      - ds.each do |r|
        %tr{:class  => i.even? ? "even" : "odd"}
          - r.table_data.each do |f|
            %td
              - if f[:css] == 'datetime'
                %span{:class => f[:css], :title => f[:value].strftime('%H:%M:%S')}= f[:value].strftime('%Y-%m-%d')
              - elsif f[:css] == 'time'
                %span{:class => f[:css], :title => f[:value].strftime('%Y-%m-%d')}= f[:value].strftime('%H:%M:%S')
              - else
                %span{:class => f[:css]}= f[:value]
          %td
            - unless ds.model.name.include?("Log")
              %span.put{:data => {:id => r.id, :model => path}, :onclick => "window.location='/ctrl/edit/#{path}/#{r.id}'"}
            %span.delete{:data => {:id => r.id, :model => path}, :onclick => ""}
        - i += 1
      - while i < 25
        %tr
          %td{:colspan => ds.first.table_data.length + 1}
            %span &nbsp;
        - i += 1
    %tfoot
      %tr
        %td{:colspan => ds.first.table_data.length + 1}
          %span.paginate
            - if ds.prev_page
              - unless ds.first_page?
                %a.bo{:href => "/ctrl/list/#{path}/1"} &laquo;
              %a.bo{:href => "/ctrl/list/#{path}/#{ds.prev_page}"} &lsaquo;
            Pg. #{ds.current_page} of #{ds.page_count} 
            - if ds.next_page
              %a.bo{:href => "/ctrl/list/#{path}/#{ds.next_page}"} &rsaquo;
              - unless ds.last_page?
                %a.bo{:href => "/ctrl/list/#{path}/#{ds.page_count}"} &raquo;
          %span.last_row &nbsp;&nbsp;|&nbsp;&nbsp;Search, Add record etc... soon :)
- else
  %h4 Empty table
