!!!
%html
  = partial('shared/html-head')
  %body.soria{:id => "ctrl",:'data-lang' => current_lang,}
    #main.wrap
      %header#header
        = partial ('shared/header')
      %nav#menu
        = partial ('shared/menu')
      %section#content
        %article#xhr_content
          = yield
        %article#xhr_msg.hidden
      %section#main_footer.wrap
    %footer#footer.wrap
      = partial ('shared/footer')

