- tbody_else = path.split('/')[1]
-case path
- when "persons_owner/persons_group"
  %tr
    %td{:colspan => "2"}
      %span.mtm_label_grou Member of ?
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Yes/No
  - with.all.each do |r|
    %tr
      %td{:colspan => "2"}
        %span.mtm_label_group= r.name
        &nbsp;:&nbsp;
        %input{:type => "radio",:checked => what.groups_dataset.to_hash.has_key?(r.id),:name => "[with_id][#{r.id}]",:value => "1"}
        %input{:type => "radio",:checked => !what.groups_dataset.to_hash.has_key?(r.id),:name => "[with_id][#{r.id}]",:value => "0"}

- when "persons_group/persons_owner"
  %tr
    %td{:colspan => "2"}
      %span.mtm_label_owner Is member ?
      &nbsp;&nbsp;&nbsp;&nbsp; Yes/No
    %td{:colspan => "2"}
      %span.mtm_label_owner Is member ?
      &nbsp;&nbsp;&nbsp;&nbsp; Yes/No
  - with.order(:last_name.asc).all.each_with_index do |r,i|
    - if (i+1).odd?
      %tr
        %td{:colspan => "2"}
          %span.mtm_label_owner= r.full_name
          &nbsp;:&nbsp;
          %input{:type => "radio",:checked => what.owners_dataset.to_hash.has_key?(r.id),:name => "[with_id][#{r.id}]",:value => "1"}
          %input{:type => "radio",:checked => !what.owners_dataset.to_hash.has_key?(r.id),:name => "[with_id][#{r.id}]",:value => "0"}
      - else
        %td{:colspan => "2"}
          %span.mtm_label_owner= r.full_name
          &nbsp;:&nbsp;
          %input{:type => "radio",:checked => what.owners_dataset.to_hash.has_key?(r.id),:name => "[with_id][#{r.id}]",:value => "1"}
          %input{:type => "radio",:checked => !what.owners_dataset.to_hash.has_key?(r.id),:name => "[with_id][#{r.id}]",:value => "0"}

- when /persons_permission/
  -  ["persons_group","request_hw_node","request_hw_reader","response_hw_node","response_hw_device"].each do |input|
    %tr
      %td
        %span= "#{input.split('_').last.capitalize}"
      %td{:class => input}
        &nbsp;:&nbsp;
        %input{:id => input}

- else
  %tr
    %td
      %span= "#{tbody_else.split('_').last.capitalize}"
    %td{:class => tbody_else}
      &nbsp;:&nbsp;
      %input{:id => tbody_else}
