- i = 0
%p.title
  = crud_title(ds.model,'get_list')
  - if ds.model.name.include?("Log")
    %span.reload{:data => {:duration => 5000, :referrer => "/ctrl/#{path}/#{ds.current_page}/list"}, :title => "Start Auto-Reload"}
- unless ds.empty?
  %table.list
    %thead
      %tr
        - ds.first.table_data.each do |column|
          %th= column[:label]
        %th &nbsp;
    %tbody
      - ds.each do |r|
        %tr{:class  => i.even? ? "even" : "odd"}
          - r.table_data.each do |f|
            %td
              - if f[:css] == 'datetime'
                -if path == 'log_access'
                  %span{:class => f[:css], :title => f[:value].strftime('%H:%M:%S')}= f[:value].strftime('%Y-%m-%d %H:%M:%S')
                -else
                  %span{:class => f[:css], :title => (f[:value].strftime('%H:%M:%S') rescue "NDA")}= (f[:value].strftime('%Y-%m-%d') rescue "NDA")
              - elsif f[:css] == 'time'
                %span{:class => f[:css], :title => f[:value].strftime('%Y-%m-%d')}= f[:value].strftime('%H:%M:%S')
              - else
                %span{:class => f[:css]}= f[:value]
          %td.buttons_left
            %span
              %a.get{:href => "/ctrl/#{path}/#{r.id}", :data => {:referrer => "/ctrl/#{path}/#{ds.current_page}/list"}}
              - unless ds.model.name.include?("Log")
                %a.edit{:href => "/ctrl/#{path}/#{r.id}/edit", :data => {:referrer => "/ctrl/#{path}/#{ds.current_page}/list"}}
              %a.delete{:href => "/ctrl/#{path}/#{r.id}/delete", :data => {:referrer => "/ctrl/#{path}/#{ds.current_page}/list"}}
        - i += 1
      - while i < 25
        %tr
          %td{:colspan => ds.first.table_data.length + 1}
            %span &nbsp;
        - i += 1
    %tfoot
      %tr
        %td.last_row{:colspan => ds.first.table_data.length + 1}
          %span
            %span.paginate<
              - if ds.prev_page
                - unless ds.first_page?
                  %a.bo{:href => "/ctrl/#{path}/1/list"} &laquo;
                %a.bo{:href => "/ctrl/#{path}/#{ds.prev_page}/list"} &lsaquo;
              Pg. #{ds.current_page} of #{ds.page_count}
              - if ds.next_page
                %a.bo{:href => "/ctrl/#{path}/#{ds.next_page}/list"} &rsaquo;
                - unless ds.last_page?
                  %a.bo{:href => "/ctrl/#{path}/#{ds.page_count}/list"} &raquo;
              &nbsp;&nbsp;|&nbsp;&nbsp;
            - unless ds.model.name.include?("Log")
              %a.new{:href => "/ctrl/#{path}/new", :title => "Create new!"}
            %span &nbsp;&nbsp;|&nbsp;&nbsp;Search... soon :)
- else
  %table.list
    %thead
      %tr
        %td
          %h4  Empty table
    %tfoot
      %tr
        %td.last_row
          %span
            %br
            %span.paginate You may consider to add a new record :)
            - unless ds.model.name.include?("Log")
              %a.new{:href => "/ctrl/#{path}/new", :title => "Create new!"}
